* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--gallery-gap: calc(var(--index) * 10);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	z-index: 0;
	/* will-change: transform; */
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
	text-shadow: 0 0 15px #9d822b;
}

.main-article::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.8);
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}

.blockGallery {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	/* Update: */
	top: -1px;
}

.gallery{
	display: flex;
	padding: 0 calc(var(--index) * 19);
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	will-change: transform;
}

.gallery__item {
	max-width: calc(var(--index) * 20);
	margin-top: calc(var(--gallery-gap) - 200px);
	padding-top: calc(var(--index));
	border-radius: 8px;
	max-height: 600px;
	
}

.gallery__right{
	margin-top: calc(var(--gallery-gap));
}
.gallery__left{
	text-align: right;
	padding-right: 10px;
}

.text-block {
	color: var(--text);
	position: relative;
	text-shadow: 0 0 15px #9d822b;
}

.text-block__h{
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--text);
	margin-bottom: 1.5rem;
}
.text-block__p{
	line-height: 1.7rem;
}


/* Медиазапросы для корректного отображения на мобильных устройствах */
/* @media (max-width: 1000px) {
    .gallery {
        grid-template-areas: 
            "left-img"
            "right-text"
            "right-img"
            "left-text";
        padding: 10px;
        margin-top: 50px;
		margin: auto;
    }

	.gallery__left {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px; 
		grid-area: left; 
	}
	
	.gallery__right {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px; 
		grid-area: right; 
	}

	.gallery__left img{
		margin-left: 75px;
	}

	.gallery__right .text-block{
		margin-top: 250px;
		margin-left: -300px;
	}

	.gallery__left .text-block{
		margin-top: 430px;
		margin-left: 85px;
	}

	.gallery__right img{
		margin-left: -300px;
	}
	
    .gallery__item {
        margin-top: 2px;
        padding-top: 20px;
    }

	.text-block{
		text-align: center;
	}
    .text-block__h {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .text-block__p {
        line-height: 1rem;
    }

	.copy {
		font-size: calc(var(--index) * 1.4);
	}
} */

@media (max-width: 1340px) {
    .gallery {
        display: grid;
        grid-template-areas: 
            "left-img"
            "right-text"
            "right-img"
            "left-text";
        align-items: center; /* Вертикальное выравнивание */
        justify-items: center; /* Горизонтальное выравнивание */
        padding: 10px;
        margin: auto;
		padding-top: 100px;
    }

	/* Более плавный переход для мобильных */
	/* .layers__base {
		transition: transform 0.8s ease-out; 
	} */
	
	.main-article__paragraph{
		font-size: 0.7rem;
	}
	
	.gallery img {
		max-height: 350px;
	}

    .gallery__left, .gallery__right {
        display: flex;
        flex-direction: column;
        align-items: center; /* Горизонтальное выравнивание */
        justify-content: center; /* Вертикальное выравнивание */
        gap: 10px;
    }

    .gallery__left img, .gallery__right img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

	.gallery__right img{
		margin-top: -80px;
	}

	.text-block__right{
		position: absolute;
		/* padding-top: 400px; */
		top: 300px;
	}

    .text-block {
        text-align: center;
        margin: 0 auto;
        width: 80%; /* Опционально */
    }

    .text-block__h {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .text-block__p {
        line-height: 1rem;
    }

    .copy {
        font-size: calc(var(--index) * 1.4);
		/* margin-top: 50px;
		margin-bottom: 200px; */
		padding-top: 200px;
    }
}


.content {
	will-change: transform;
}
.copy {
	bottom: 15;
	opacity: .45;
	/* font-size: calc(var(--index) * .75); */
	letter-spacing: calc(var(--index) / 37.5);
	color: var(--text);
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 20px;
}
