* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

@font-face {
    font-family: Harry-font;
    src: url(../fonts/Harry-Poter-font.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Gilroy-font;
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: AALumus-font;
    src: url(../fonts/aa_lumos_caps.ttf);
}

body {
    background-color: #0D1721;
    color: #fff;
    font-family: kamerik-3d;
}

.header {
    width: 100%;
    height: 180vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    margin-top: 30vh;
    margin-left: 17vw;
}

.header-text_p {
    font-family: Gilroy-font;
    font-size: calc(var(--index));
    /* calc(var(--index) * 2.8) */
    margin-bottom: 40px;
    letter-spacing: 4px;

}

.header-text {
    font-family: Harry-font;
    font-size: calc(var(--index) * 6);
    line-height: calc(var(--index) * 5);
}

.header-text span {
    display: block;
}

.header__button {
    width: calc(var(--index) * 18);
    height: calc(var(--index) * 9);
    /* 440px 170px */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-content: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
}

.header__button:hover {
    filter: sepia(0.1) hue-rotate(10deg) saturate(1.2);
}

.header__button_p {
    text-align: center;
    font-family: Gilroy-font;
    font-size: calc(var(--index) * 1.2);
    margin-bottom: 8px;
}

@media (max-width: 1370px) {
    .container{
        margin-left: 2vw;
    }
}

/* ________________Block_info___________________*/

.container_info {
    width: 100%;
    padding-top: calc(var(--index) * 7.5);
}

.info {
    position: relative;
    width: calc(var(--index) * 35);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-content: center;
    bottom: -800px;
    /* margin-left: 25%; */
    margin: 0 auto;
    text-align: center;
    color: #000;
    /* max-width: 100%;
    max-height: 100%; */
    z-index: 100;
}

.info__text {
    position: relative;
    width: 50%;
    margin: 0 auto;
    bottom: 10px;
}

.info__text_h {
    font-family: AALumus-font;
    font-weight: lighter;
    font-size: calc(var(--index) * 2.4);
    line-height: calc(var(--index) * 2);
    padding-bottom: 20px;
}

.info__text_p {
    font-family: Gilroy-font;
    font-size: calc(var(--index) * .7);
    line-height: calc(var(--index));
    width: 85%;
    margin: 0 auto;
    align-items: center;
}

@media (max-width: 1370px) {
    .container_info {
        padding-top: calc(var(--index) * 0.4);
        padding-bottom: calc(var(--index) * 0.4);
    }
}
/* ____________________Section1_____________________ */

.section1 {
    /* width: 100vw; */
    height: 140vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -180px;
    /* z-index: -1; */
    position: relative;
    overflow: hidden;
}


.section1__section {
    /* background-color: #000; */
    width: 50%;
    position: absolute;
    margin-left: 28%;
    width: 60vw;
    height: 60vh;
    margin-top: 400px;
    display: flex;
}

.section1__left {
    width: 40%;
}

.section1__left-text {
    font-family: AALumus-font;
    font-size: calc(var(--index) * 3); 
    font-weight: 100;
    line-height: calc(var(--index) * 2.3);
}

.secrion1__left-under-text {
    background-color: #D7A369;
    margin-top: 20px;
    width: 200px;
    border-radius: 25px;
    height: 50px;
    font-family: Gilroy-font;
    text-align: center;
    align-content: center;
}

.section1__left_p {
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 30px;
    font-family: Gilroy-font;
    letter-spacing: 1px;
}

.section1__left_p li {
    margin-bottom: 30px;
    line-height: calc(var(--index) * 1);
}

.section1__section .fade {
    width: 38%;
    height: 50%;
    /* margin-left: 20px; */
    margin-top: 12%;
    border-radius: 65px;
    background: linear-gradient(#fff, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1__right {
    width: 99.6%;
    height: 99.7%;
    background-color: #2E4862;
    text-align: start;
    align-content: center;
    border-radius: 65px;
}

.section1__right__text {
    font-family: Gilroy-font;
    margin-left: 50px;
    margin-top: -15px;
    letter-spacing: 2px;
    font-size: calc(var(--index) / 2);
}

.section1__right__text_p {
    padding-top: 30px;
    width: 80%;
    line-height: calc(var(--index) * .7);
}

.section1__right__img {
    width: 450px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-top: -250px;
    margin-left: 150px;
    /* display: none; */
    
}

@media (max-width: 1370px) {

    .section1__left_p li {
        line-height: calc(var(--index) * 1.2);
    }
    .section1__left {
        width: 100%;
    }


    .section1__left-text{
        position: relative;
        margin: 0 auto;
    }

    .section1 { 
        height: calc(var(--index) * 100);
    }

    .section1__section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section1__section .fade {
        width: 100%;
        height: calc(var(--index) * 20);
    }

    .section1__right__text {
        letter-spacing: 2px;
        font-size: calc(var(--index) * 1);
    }

    .section1__right__text_p {
        line-height: calc(var(--index) * 1.2);
    }

    .section1__right__img {
        margin-left: calc(2vw * 15);
    }
}

/* ___________________Section_items________________ */


.text-items {
    font-family: AALumus-font;
    font-size: calc(var(--index) * 2.8);
    text-align: center;
    width: calc(var(--index) * 35);
    margin: 0 auto;
    margin-top: calc(var(--index) * -7);
    line-height: 60px;
}

.section__items {
    width: 52%;
    height: calc(var(--index) * 85);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px calc(var(--index));
    /* line-gap-override: 100px; */
    /* row-gap: 10px; */
    padding: calc(var(--index));
    margin-bottom: 150px;
    margin: 0 auto;
    margin-top: 40px;
}

.item {
    width: 100%;
    height: 100px;
}


.item__img {
    width: 450px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.item__text {
    font-family: Gilroy-font;
    margin-top: 20px;
    margin-left: 20px;
}

.item__text_h {
    margin-bottom: 10px;
    font-size: 18px;
}

.item__text_p {
    font-size: 14px;
    line-height: 20px;
}

.block__ticket * {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: calc(var(--index) * 32);
    height: calc(var(--index) * 32);
    margin-top: -750px;
    right: 0;
    z-index: -1;
}

.radial-blur {
    overflow: hidden;
    width: calc(var(--index) * 28);
    height: calc(var(--index) * 28);
    margin-top: -650px;
    margin-right: 70px;
    pointer-events: none;
}

.radial-blur:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(13, 23, 33, 0), rgba(13, 23, 33, 1) 70%);
}

@media (max-width: 1370px) {

    .text-items {
        margin-top: calc(var(--index) * 1);
    }

    .block__ticket * {
        margin-top: 0px;
        position: absolute;
        height: calc(var(--index) * 50);
        width: calc(var(--index) * 50);
        right: 0;
        margin-top: -(calc(var(--index) * 30));
    }

    .tech_div{
        height: calc(var(--index) * 50);
    }
    
    .item-tickets{
        margin-top: 0px;
    }
    .radial-blur {
        overflow: hidden;
        width: calc(var(--index) * 50);
        height: calc(var(--index) * 50);
        margin-top: 0px;
        margin-right: 0px;
        pointer-events: none;
    }

    .section__items {
        width: 90%;
        height: calc(var(--index) * 250);
        display: grid;
        gap: 0px calc(var(--index) * 1.4);
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 0px calc(var(--index));
        gap: calc(var(--index) / 2);
    }

    .item {
        margin: 0 auto;
    }

    .item__img {
        margin: 0 auto;
        width: alc(var(--index) * .02);
        height: calc(var(--index) * 20);
        max-width: 80%;
    }

    .item__text{
        width: 50%;
        margin: calc(var(--index)) auto calc(var(--index) * 1.1);
    }
}

/* ________________Section_How________________ */

.section__how {
    width: 80vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    /* background-color: #000; */
    /* background-color: #000; */
    width: 50%;
    display: flex;
    margin: auto;
}

.section__how_h {
    text-align: center;
    font-family: AALumus-font;
    font-size: calc(var(--index) * 3);
    font-weight: 100;
}

.section__left {
    width: 55%;
    padding-right: 30px;
}
.section__right {
    width: 35%;
    margin-left: 30px;
}

.section__left_up .fade{
    width: 87%;
    height: 120px;
    margin-left: 20px;
    margin-top: 12%;
    border-radius: 65px;
    background: linear-gradient(#fff, #000);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}

.blue__text {
    width: 99.6%;
    height: 99.7%;
    background-color: #2E4862;
    text-align: start;
    align-content: center;
    border-radius: 65px;
}

.blue__text p {
    font-family: Gilroy-font;
    margin-left: 40px;
    margin-right: 25px;
}

.section__right .fade{
    width: 80%;
    height: 200px;
    margin-left: 20px;
    margin-top: 12%;
    border-radius: 65px;
    background: linear-gradient(#fff, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__left__down {
    display: flex;
    gap: 40px;
    padding: 16px;
}
.section__left__left {
    margin-left: 20px;
}

.left__mark__text {
    background-color: #D7A369;
    font-family: Gilroy-font;
    text-align: center;
    align-content: center;
    border-radius: 25px;
    width: 120px;
    height: 35px;
    margin-top: 20px;
}

.section__left__right{
    width: 100%;
}


.right__text {
    font-family: Gilroy-font;
    align-content: center;
    height: 35px;
    margin-top: 20px;
}

.section__right {
    margin-left: 100px;
    margin-top: -20px;
}

.right__text span{
    display: block;
}


.box {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
    position: relative;
    margin-left: 20px;
}

.section__right .fade {
    margin-top: -50px;
    z-index: -1;
    height: 150px;
    line-height: 20px;
}

.section__right__under-text {
    font-family: Gilroy-font;
    width: 60%;
    /* margin: 20px auto 0; */
    margin-top: 20px;
    margin-left: 50px;
}
.section__right__under-text p span {
    color: #D7A369;
}

@media (max-width: 1370px) {
    .section__how{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    

    .section__left {
        width: 95%;
        justify-content: center;
        margin: 0 auto;
    }

    .left__mark__text {
        margin-top: calc(var(--index) * 3);
    }

    .section__left_up .fade{
        width: 80%;
        height: 120px;
        margin-left: 0px;
        margin-top: 0%;
        margin: 0 auto;
        border-radius: 65px;
        background: linear-gradient(#fff, #000);
        display: flex;
        align-items: center;
        justify-items: center;
        line-height: 20px;
    }

    .right__text {
        margin-top: calc(var(--index) * 3);
    }

    .blue__text p {
        font-family: (calc(var(--index)) * 1.7);
    }

    .section__left__down {
        display: flex;
        gap: 40px;
        padding: 16px;
        max-width: 70%;
        margin: 0 auto;
    }

    .section__right {
        width: 100%;
        margin-left: 0px;
        margin: 0 auto;
    }

    .box{
        margin: 0 auto;
    }

    .section__right .fade {
        /* margin-top: -200px; */
        width: 70%;
        z-index: -1;
        height: calc(var(--index) * 7);
        line-height: 20px;
        margin: -50px auto 0;
    }
    
    .blue__text p {
        margin-left: calc(var(--index) * .7);
        margin-right: 25px;
        text-align: center;
    }

    .section__right__under-text {
        font-family: Gilroy-font;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
    }

    .section__right__under-text p {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* _________Footer_________________ */

.footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 150vh;
    justify-content: center;
    margin-top: -150px;
}

.footer__text {
    width: 100%;
    margin-top: 200px;
    position: absolute;
    text-align: center;
}

.footer__text_p {
    width: 40%;
    margin: 50px auto 0px;
    font-family: Gilroy-font;
    font-size: 25px;
    /* margin-top: ; */
}
.footer__text_p span {
    display: block;
}

.footer__text_h {
    font-family: AALumus-font;
    margin: 0 auto;
    font-size: 70px;
    width: 50%;
    line-height: 55px;
    margin-top: 85px;
}

.footer__button {
    width: calc(var(--index) * 18);
    height: calc(var(--index) * 9);
    /* 440px 170px */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-content: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 auto;
}


.footer:hover {
    filter: sepia(0.1) hue-rotate(10deg) saturate(1.2);
}

.footer__button p {
    text-align: center;
    font-family: Gilroy-font;
    font-size: calc(var(--index) * 1.2);
    margin-bottom: 8px;
}

@media (max-width: 1370px) {
    .footer {
        margin-top: 250px;
    }
    .footer__text {
        margin: calc(var(--index) * 15) auto 0px;
    }
    .footer__text_p {
        width: 70%;
        margin: 0 auto;
        font-family: Gilroy-font;
        font-size: calc(var(--index) * 1.4);
        margin-top: calc(var(--index) * 1.2);
    }
    .footer__text_h {
        font-family: AALumus-font;
        margin: 0 auto;
        font-size: calc(var(--index) * 4);
        width: 50%;
        line-height: 55px;
        margin-top: 85px;
    }

    .footer__button {
        margin-top: calc(var(--index) * 15);
    }

}